.headerContainer {
    display: flex;
    height: 40px;
    background-color: #292854;
    font-size: 36px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.title {
    height: 60%;
    color: #e5d8c3;
    font-size: large;
    margin-left: 10px;
    line-height: normal;
}

.logo {
    height: 60%;
}